<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/workout/climbing/admin/crags/' + cragId() + '/sectors/' + sectorId()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ (routeId() ? 'WORKOUT.CLIMBING.ROUTE.EDIT_TITLE' : 'WORKOUT.CLIMBING.ROUTE.NEW_TITLE') | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="save()">{{ 'COMMON.SAVE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-input
          formControlName="name"
          [label]="'WORKOUT.CLIMBING.ROUTE.FIELD_NAME' | translate"
          label-placement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="guidebookGrade"
          [label]="'WORKOUT.CLIMBING.ROUTE.FIELD_GRADE' | translate"
          label-placement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          inputmode="decimal"
          formControlName="lengthInMeters"
          [label]="'WORKOUT.CLIMBING.ROUTE.FIELD_LENGTH' | translate"
          label-placement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          inputmode="numeric"
          formControlName="totalPitches"
          [label]="'WORKOUT.CLIMBING.ROUTE.FIELD_PITCHES' | translate"
          label-placement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="rockType"
          [label]="'WORKOUT.CLIMBING.ROUTE.FIELD_ROCK_TYPE' | translate"
          label-placement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="aspect"
          [label]="'WORKOUT.CLIMBING.ROUTE.FIELD_ASPECT' | translate"
          label-placement="stacked"
        ></ion-input>
      </ion-item>
    </ion-list>

    @if (routeId()) {
      <div class="cta-row">
        <ion-button expand="block" color="danger" fill="outline" (click)="delete()">
          {{ 'COMMON.DELETE' | translate }}
        </ion-button>
      </div>
    }
  </form>
</ion-content>
