<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'HOME.TITLE' | translate }}</ion-title>
    <app-sync-status-button slot="end"></app-sync-status-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (widget of widgets; track widget.key) {
    @switch (widget.key) {
      @case ('quick-actions') {
        <app-quick-actions-widget></app-quick-actions-widget>
      }
      @case ('today-nutrition') {
        <app-today-nutrition-widget></app-today-nutrition-widget>
      }
    }
  }
</ion-content>
